* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

@font-face {
    font-family: 'VAG Rounded';
    src: url('VAG-Rounded-Regular.ttf');
}

body{
    background-color: rgb(231, 231, 231);
}

header {
    width: 100%;
    background-color: #FEE499;
    border: 4px solid #14505D;
}

section{
    display: block;
}

footer{
    display: block;
    background-color: #FEE499;
    color: gray;
    padding: .5em;
    text-align: left;
    border-top: solid 2px black;
    height: auto;
    width: 100%;
    bottom: 0;
}

#newPass{
    margin-top: 32px;
}

@media (min-width: 800px){
    
    #red-it_logo{
        font-size: 0;
        width: 70px;
        height: 70px;
        margin: 8px;
        position: inherit;
    }
    
    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 80px;
        display: inline-block;
        position: absolute;
    }

    #Change-P_Header{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 50px;
        text-align: center;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    input[type=text]{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        padding: 12px;
        margin-top: 16px;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }

    button[type=submit]{
        width: 10%;
        margin-top: 16px;
        margin-left: 45%;
        margin-right: 45%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 1px solid black;

    }
}

@media (max-width: 799px){

    #red-it_logo{
        font-size: 0;
        width: 40px;
        height: 40px;
        margin: 4px;
        position: inherit;
    }

    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 40px;
        display: inline-block;
        position: absolute;
    }

    #Change-P_Header{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 30px;
        text-align: center;
        margin-top: 16px;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    input[type=text]{
        width: 100%;
        padding: 12px;
        margin-top: 16px;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }

    button[type=submit]{
        width: 30%;
        margin-top: 16px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 1px solid black;

    }

}