* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

@font-face {
    font-family: 'VAG Rounded';
    src: url('../../resources/fonts/VAG-Rounded-Regular.ttf');
}

body{
    background-color: rgb(231, 231, 231);
}

header {
    width: 100%;
    background-color: #FEE499;
    border: 4px solid #14505D;
}

section{
    display: block;
}

footer{
    display: block;
    background-color: #FEE499;
    color: gray;
    padding: .5em;
    text-align: left;
    border-top: solid 2px black;
    height: auto;
    width: 100%;
    bottom: 0;
}

@media (min-width: 800px){

    #red-it_logo{
        font-size: 0;
        width: 70px;
        height: 70px;
        margin: 8px;
        position: inherit;
    }
    
    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 80px;
        display: inline-block;
        position: absolute;
    }

    #Conf_Header{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 50px;
        text-align: center;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    button[type=Cambiar]{
        width: 30%;
        margin-top: 16px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 1px solid black;

    }

    button[type=Baja]{
        width: 30%;
        margin-top: 64px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 3px solid black;
        color: white;
        background-color: crimson;

    }

}

@media (max-width: 799px){

    #red-it_logo{
        font-size: 0;
        width: 40px;
        height: 40px;
        margin: 4px;
        position: inherit;
    }

    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 40px;
        display: inline-block;
        position: absolute;
    }

    #Conf_Header{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 30px;
        text-align: center;
        margin-top: 16px;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    button[type=Cambiar]{
        width: 30%;
        margin-top: 16px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 1px solid black;

    }

    button[type=Baja]{
        width: 30%;
        margin-top: 64px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 16px;
        align-self: center;
        padding: 12px;
        border: 3px solid black;
        color: white;
        background-color: crimson;

    }
}

button[type=Cambiar]:hover{
        background-color: #ddd;
}

button[type=Baja]:hover{
    background-color: red;
}

.error{
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid crimson;
    color: #D8000C;
    background-color: #FFD2D2;
}

.error.show{
    display: block;
    opacity: 1;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid crimson;
    color: #D8000C;
    background-color: #FFD2D2;
}