* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

@font-face {
    font-family: 'VAG Rounded';
    src: url('../../resources/fonts/VAG-Rounded-Regular.ttf');
}

body{
    background-color: rgb(231, 231, 231);
}

header {
    width: 100%;
    background-color: #FEE499;
    border: 4px solid #14505D;
}

section{
    display: block;
}

footer{
    display: block;
    background-color: #FEE499;
    color: gray;
    padding: .5em;
    text-align: left;
    border-top: solid 2px black;
    height: auto;
    width: 100%;
    bottom: 0;
}

@media (min-width: 800px){
    
    #red-it_logo{
        font-size: 0;
        width: 70px;
        height: 70px;
        margin: 8px;
        position: inherit;
    }
    
    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 80px;
        display: inline-block;
        position: absolute;
    }

    #Username{
        margin-top: 16px;
        text-align: center;
        font-weight: bold;
    }

    #Guest-options{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    #Create-Post{
        position: relative;
        margin: 16px 0px;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        background-color: #FEE499;
        border: 4px solid #14505D;
        display: inline-flex;
        align-items: center;
        column-gap: 16px;
        justify-content: center;
        box-shadow: 4px 3px 8px 1px #969696;
    }
 
    #Filter{
            position: relative;
            margin: 16px 0px;
            margin-left: 35%;
            margin-right: 35%;
            width: 30%;
            background-color: #FEE499;
            border: 4px solid #14505D;
            display: flex;
            flex-flow: column;
            align-items: center;
            row-gap: 8px;
            box-shadow: 4px 3px 8px 1px #969696;
    }

    .Post{
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 4px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        box-shadow: 4px 3px 8px 1px #969696;
        display: flex;
    }

    .Comment{
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 4px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        box-shadow: 4px 3px 8px 1px #969696;
        display: flex;
    }

    .Rating-box{
        margin: 8px;
    }

    .user-date_box{
        display: flex;
        column-gap: 16px;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    .title-box{
        margin-bottom: 4px;
    }

    .Post-title{
        font-weight: bold;
    }

    .Comment-box{
        display: flex;
        column-gap: 32px;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    .Post-Image img{
        margin-top: 16px;
        width: 100%;
    }

    .Post-Video video{
        margin: 16px;
        width: 100%
    }

}

@media (max-width: 799px){

    header{
        height: 5em;
    }

    #red-it_logo{
        font-size: 0;
        height: 40px;
        margin: 4px;
        position: inherit;
    }

    #megaphone{
        font-size: 0;
        height: 40px;
        margin: 4px;
        position: inherit;
    }

    #Red-it{
        font-family: 'VAG Rounded';
        font-style: normal;
        font-size: 40px;
        display: inline-block;
        position: absolute;
    }

    #Username{
        margin-top: 16px;
        text-align: center;
        font-weight: bold;
    }

    #Guest-options{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }

    #User-details{
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
    }

    #Create-Post{
        position: relative;
        margin: 16px 0px ;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #FEE499;
        border: 4px solid #14505D;
        display: inline-flex;
        align-items: center;
        column-gap: 16px;
        justify-content: center;
        }
  
    #Filter{
            position: relative;
            margin: 16px 0px;
            margin-left: 25%;
            margin-right: 25%;
            width: 50%;
            background-color: #FEE499;
            border: 4px solid #14505D;
            display: flex;
            flex-flow: column;
            align-items: center;
            row-gap: 8px;
    }

    .Post{
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 4px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        display: flex;
    }

    .Comment{
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 4px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        display: flex;
    }

    .Rating-box{
        margin: 8px;
    }

    .user-date_box{
        display: flex;
        column-gap: 16px;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    .title-box{
        margin-bottom: 4px;
    }

    .Post-title{
        font-weight: bold;
    }

    .Comment-box{
        display: flex;
        column-gap: 32px;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    .Post-Image img{
        padding: 8px;
        width: 100%;
    }

    .Post-Video video{
        width: 100%;
        padding: 8px;
    }

}


button[type=Start-post]{
    background-color: #ddd;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
    padding: 12px;
    border: 1px solid black;
}

.f-tab{
    padding: 4px;
    border: 1px solid black;
    margin: 4px;
}

button:hover{
    background-color: #ccc;
}


.modal {
    display: none;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.25);
    transition: display ease 1000ms;
    -webkit-transition: display ease 1000ms;
}

.modal-dialog {
    width: 500px;
    margin-inline: auto;
    margin-block: 2em;
}

.modal-content {
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity ease 1000ms;
    -webkit-transition: opacity ease 1000ms;
}

.modal.show .modal-content {
    opacity: 1;
}

.modal-header, .modal-body, .modal-footer {
    padding: 1em;
}

.modal-header {
    border-bottom: 1px solid lightgray;
}

.modal-footer {
    border-top: 1px solid lightgray;
}

.modal-header > * {
    margin: 0;
}

.show {
    display: block;
}

.Comment-form{
    border: 2px solid black;
    padding: 8px;
    display: flex;
    column-gap: 32px;
    align-items: flex-start;
    margin-bottom: 4px;
}

#form-text{
    width: 100%;
    margin: 4px
}

.cmt-img{
    background-color: #FEE499;
    width: 48px;
}

.cmt-img img{
    width: 100%;
}

#modalPost{
    border: 2px solid black;
    background-color: wheat;
    margin-left: 16px;
    margin-right: 16px;
}

#modalPostComments{
    border: 2px solid black;
    background-color: wheat;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 200px;
}

.error{
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid crimson;
    color: #D8000C;
    background-color: #FFD2D2;
}

.error.show{
    display: block;
    opacity: 1;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid crimson;
    color: #D8000C;
    background-color: #FFD2D2;
}

.btn-delete {
    cursor: pointer;
    border: none;
    background-color: pink;
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.btn-delete:hover{
    background-color: rgb(255, 57, 57);
}